<!DOCTYPE html>
<html>

<head>
    <title>MHS - Delete facility</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        {% if(message) %}
        <section class="message">
            <p>Message: {{ message }}</p>
        </section>
        {% endif %}
        
        <h1>Morris Health Services</h1>
        <h2>Delete facility</h2>
    </header>
    <main>
        {% if facility %}
            <p>Are you sure you want to delete this facility?</p>
            <p>FacID: {{ facility['FacID'] }}</p>
            <p>Name: {{ facility['Name'] }}</p>
            <p>FType: {{ facility['FType'] }}</p>
            <form action="/api/DeleteFacility/{{ facility['FacID'] }}" method="get">
                <input type="submit" value="Delete">
            </form>
        
        {% else %}
            <section class="message">Invalid facility</section>
        {% endif %}
    </main>
    <footer>
        <p><a href="/EmployeeFacilityManagement">⏎ Return to Employee Facility Management</a></p>
    </footer>
</body>

</html>
