<!DOCTYPE html>
<html>

<head>
    <title>MHS - New facility</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        {% if(message) %}
        <section class="message">
            <p>Message: {{ message }}</p>
        </section>
        {% endif %}
        
        <h1>Morris Health Services</h1>
        <h2>Add New Facility ({{FType}})</h2>
    </header>
    <main>
        <form action="/api/NewFacility" method="post">
            <label for="Name">Name:</label><br>
            <input type="text" id="Name" name="Name"><br><br>
            
            <label for="Address">Address:</label><br>
            <input type="text" id="Address" name="Address"><br><br>
            
            <label for="City">City:</label><br>
            <input type="text" id="City" name="City"><br><br>
            
            <label for="State">State:</label><br>
            <input type="text" id="State" name="State"><br><br>
            
            <label for="Zip">Zip:</label><br>
            <input type="text" id="Zip" name="Zip"><br><br>
            
            <label for="Size">Size:</label><br>
            <input type="number" step="1" min="0" id="Size" name="Size"><br><br>

            {% if FType == 'OPS' %}
                <input type="hidden" id="FType" name="FType" value="OPS">

                <label for="Room_Count">Room_Count:</label><br>
                <input type="number" step="1" min="0" id="Room_Count" name="Room_Count"><br><br>

                <label for="P_code">P_code:</label><br>
                <input type="text" id="P_code" name="P_code"><br><br>

                <label for="Description">Description:</label><br>
                <input type="text" id="Description" name="Description"><br><br>

            {% elif FType == 'Office' %}
                <input type="hidden" id="FType" name="FType" value="Office">

                <label for="Office_Count">Office_Count:</label><br>
                <input type="number" step="1" min="0" id="Office_Count" name="Office_Count"><br><br>

            {% else %}
                <section class="message">Warning! Invalid FType: {{FType}}</section>

            {% endif %}

            <input type="submit" value="Create facility">
        </form>
    </main>
    <footer>
        <p><a href="/EmployeeFacilityManagement">⏎ Return to Employee Facility Management</a></p>
    </footer>
</body>

</html>
