<!DOCTYPE html>
<html>

<head>
    <title>MHS - New employee</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        {% if(message) %}
        <section class="message">
            <p>Message: {{ message }}</p>
        </section>
        {% endif %}
        
        <h1>Morris Health Services</h1>
        <h2>Add New Employee ({{JobClass}})</h2>
    </header>
    <main>
        <form action="/api/NewEmployee" method="post">
            <label for="FName">FName:</label><br>
            <input type="text" id="FName" name="FName"><br><br>

            <label for="Minit">Minit:</label><br>
            <input type="text" id="Minit" name="Minit"><br><br>

            <label for="LName">LName:</label><br>
            <input type="text" id="LName" name="LName"><br><br>

            <label for="Street">Street:</label><br>
            <input type="text" id="Street" name="Street"><br><br>

            <label for="City">City:</label><br>
            <input type="text" id="City" name="City"><br><br>

            <label for="State">State:</label><br>
            <input type="text" id="State" name="State"><br><br>

            <label for="Zip">Zip:</label><br>
            <input type="number" step="1" min="0" id="Zip" name="Zip"><br><br>

            <label for="FacID">FacID:</label><br>
            <select id="FacID" name="FacID">
                {% for facility in facilities %}
                    <option value="{{ facility['FacID'] }}">{{ facility['Name'] }} (id:{{ facility['FacID'] }})</option>
                {% endfor %}
            </select><br><br>

            <label for="SSN">SSN:</label><br>
            <input type="number" step="1" min="0" id="SSN" name="SSN"><br><br>
            
            <label for="Salary">Salary:</label><br>
            <input type="number" step="1" min="0" id="Salary" name="Salary"><br><br>
            
            <label for="HireDate">HireDate:</label><br>
            <input type="date" id="HireDate" name="HireDate"><br><br>

            {% if JobClass == 'Doctor' %}
                <input type="hidden" id="JobClass" name="JobClass" value="Doctor">

                <label for="Specialty">Specialty:</label><br>
                <input type="text" id="Specialty" name="Specialty"><br><br>
                
                <label for="BC_Date">Board Certification Date:</label><br>
                <input type="date" id="BC_Date" name="BC_Date"><br><br>

            {% elif JobClass == 'Nurse' %}
                <input type="hidden" id="JobClass" name="JobClass" value="Nurse">

                <label for="Certification">Certification:</label><br>
                <input type="text" id="Certification" name="Certification"><br><br>

            {% elif JobClass == 'HCP' %}
                <input type="hidden" id="JobClass" name="JobClass" value="Other HCP">

                <label for="JobTitle">JobTitle:</label><br>
                <input type="text" id="JobTitle" name="JobTitle"><br><br>

            {% elif JobClass == 'Admin' %}
                <input type="hidden" id="JobClass" name="JobClass" value="Admin">

                <label for="JobTitle">JobTitle:</label><br>
                <input type="text" id="JobTitle" name="JobTitle"><br><br>

            {% else %}
                <section class="message">Warning! Invalid JobClass: {{JobClass}}</section>

            {% endif %}

            <input type="submit" value="Create employee">
        </form>
    </main>
    <footer>
        <p><a href="/EmployeeFacilityManagement">⏎ Return to Employee Facility Management</a></p>
    </footer>
</body>

</html>
