details {
  border: 1px solid gray;
}

table, td, th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.message {
  background-color: yellow;
}

a, a:visited, a:hover, a:active {
  color: darkred;
}