<!DOCTYPE html>
<html>

<head>
    <title>MHS - Employee and Facility Management</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        {% if(message) %}
        <section class="message">
            <p>Message: {{ message }}</p>
        </section>
        {% endif %}
        
        <h1>Morris Health Services</h1>
        <h2>Employee and Facility Management</h2>
    </header>
    <main>
        <details>
            <summary><b>Employees</b></summary>
            <h3>Employee details</h3>
            <details>
                <summary>🗐 Add new employee</summary>
                <ul>
                    <li><a href="/NewEmployee/Doctor">Doctor</a></li>
                    <li><a href="/NewEmployee/Nurse">Nurse</a></li>
                    <li><a href="/NewEmployee/HCP">Other HCP</a></li>
                    <li><a href="/NewEmployee/Admin">Admin</a></li>
                </ul>
            </details>

            <table>
                <thead>
                    <tr>
                        <th>EmpID</th>
                        <th>FName</th>
                        <th>Minit</th>
                        <th>LName</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                        <th>FacID</th>
                        <th>JobClass</th>
                        <th>SSN</th>
                        <th>Salary</th>
                        <th>HireDate</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                    <tr>
                        <td>{{ employee["EmpID"] }}</td>
                        <td>{{ employee["FName"] }}</td>
                        <td>{{ employee["Minit"] }}</td>
                        <td>{{ employee["LName"] }}</td>
                        <td>{{ employee["Street"] }}</td>
                        <td>{{ employee["City"] }}</td>
                        <td>{{ employee["State"] }}</td>
                        <td>{{ employee["Zip"] }}</td>
                        <td>{{ employee["FacID"] }}</td>
                        <td>{{ employee["JobClass"] }}</td>
                        <td>{{ employee["SSN"] }}</td>
                        <td>{{ employee["Salary"] }}</td>
                        <td>{{ employee["HireDate"] }}</td>
                        <td>
                            <p>
                                <a href="/UpdateEmployee/{{employee['EmpID']}}">🖆 Update</a>
                                <a href="/DeleteEmployee/{{employee['EmpID']}}">🗑 Delete</a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Doctor details</h3>
            <table>
                <thead>
                    <tr>
                        <th>EmpID</th>
                        <th>Specialty</th>
                        <th>BC_Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doctor in doctors %}
                    <tr>
                        <td>{{ doctor["EmpID"] }}</td>
                        <td>{{ doctor["Specialty"] }}</td>
                        <td>{{ doctor["BC_Date"] }}</td>
                        <td>
                            <p>
                                <a href="/UpdateEmployee/{{doctor['EmpID']}}">🖆 Update</a>
                                <a href="/DeleteEmployee/{{doctor['EmpID']}}">🗑 Delete</a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Nurse details</h3>
            <table>
                <thead>
                    <tr>
                        <th>EmpID</th>
                        <th>Certification</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nurse in nurses %}
                    <tr>
                        <td>{{ nurse["EmpID"] }}</td>
                        <td>{{ nurse["Certification"] }}</td>
                        <td>
                            <p>
                                <a href="/UpdateEmployee/{{nurse['EmpID']}}">🖆 Update</a>
                                <a href="/DeleteEmployee/{{nurse['EmpID']}}">🗑 Delete</a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Other HCP details</h3>
            <table>
                <thead>
                    <tr>
                        <th>EmpID</th>
                        <th>JobTitle</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hcp in hcps %}
                    <tr>
                        <td>{{ hcp["EmpID"] }}</td>
                        <td>{{ hcp["JobTitle"] }}</td>
                        <td>
                            <p>
                                <a href="/UpdateEmployee/{{ hcp['EmpID'] }}">🖆 Update</a>
                                <a href="/DeleteEmployee/{{ hcp['EmpID'] }}">🗑 Delete</a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Admin details</h3>
            <table>
                <thead>
                    <tr>
                        <th>EmpID</th>
                        <th>JobTitle</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for admin in admins %}
                    <tr>
                        <td>{{ admin["EmpID"] }}</td>
                        <td>{{ admin["JobTitle"] }}</td>
                        <td>
                            <p>
                                <a href="/UpdateEmployee/{{ admin['EmpID'] }}">🖆 Update</a>
                                <a href="/DeleteEmployee/{{ admin['EmpID'] }}">🗑 Delete</a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </details>
        <details>
            <summary><b>Facilities</b></summary>
            <h3>Facility details</h3>
            <details>
                <summary>🗐 Add new facility</summary>
                <ul>
                    <li><a href="/NewFacility/OPS">OPS</a></li>
                    <li><a href="/NewFacility/Office">Office</a></li>
                </ul>
            </details>
            <table>
                <thead>
                    <tr>
                        <th>FacID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                        <th>Size</th>
                        <th>FType</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for facility in facilities %}
                    <tr>
                        <td>{{ facility["FacID"] }}</td>
                        <td>{{ facility["Name"] }}</td>
                        <td>{{ facility["Address"] }}</td>
                        <td>{{ facility["City"] }}</td>
                        <td>{{ facility["State"] }}</td>
                        <td>{{ facility["Zip"] }}</td>
                        <td>{{ facility["Size"] }}</td>
                        <td>{{ facility["FType"] }}</td>
                        <td>
                            <p>
                                <a href="/UpdateFacility/{{facility['FacID']}}">🖆 Update</a>
                                <a href="/DeleteFacility/{{facility['FacID']}}">🗑 Delete</a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>OPS details</h3>
            <table>
                <thead>
                    <tr>
                        <th>FacID</th>
                        <th>Room_Count</th>
                        <th>P_code</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ops in opses %}
                    <tr>
                        <td>{{ ops["FacID"] }}</td>
                        <td>{{ ops["Room_Count"] }}</td>
                        <td>{{ ops["P_code"] }}</td>
                        <td>{{ ops["Description"] }}</td>
                        <td>
                            <p>
                                <a href="/UpdateFacility/{{ops['FacID']}}">🖆 Update</a>
                                <a href="/DeleteFacility/{{ops['FacID']}}">🗑 Delete</a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Office details</h3>
            <table>
                <thead>
                    <tr>
                        <th>FacID</th>
                        <th>Office_Count</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for office in offices %}
                    <tr>
                        <td>{{ office["FacID"] }}</td>
                        <td>{{ office["Office_Count"] }}</td>
                        <td>
                            <p>
                                <a href="/UpdateFacility/{{office['FacID']}}">🖆 Update</a>
                                <a href="/DeleteFacility/{{office['FacID']}}">🗑 Delete</a>
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </details>
    </main>
    <footer>
        <p><a href="/">⏎ Return to main menu</a></p>
    </footer>
</body>

</html>
