<!DOCTYPE html>
<html>

<head>
    <title>Morris Health Services</title>
</head>

<body>
    <header>
        <h1>Morris Health Services</h1>
        <h2>Main Menu</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/EmployeeFacilityManagement">Employee and Facility Management</a></li>
            <li><a href="/PatientManagement">Patient Management (appointments, procedures and billing)</a></li>
            <li><a href="/ManagementReporting">Management and Reporting</a></li>
        </ul>
    </nav>
</body>

</html>
