<!DOCTYPE html>
<html>

<head>
    <title>Morris Health Services</title>
</head>

<body>
    <header>
        {% if(message) %}
        <section style="background-color: yellow;">
            <p>Message: {{ message }}</p>
        </section>
        {% endif %}

        <h1>Morris Health Services</h1>
        <h2>Main Menu</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/EmployeeFacilityManagement">Employee and Facility Management</a></li>
            <li><a href="/PatientManagement">Patient Management (appointments, procedures and billing)</a></li>
            <li><a href="/ManagementReporting">Management and Reporting</a></li>
        </ul>
    </nav>
    <footer>
        <details>
            <summary>Admin console</summary>
            <ul>
                <li><a href="/api/CreateDB">Create db and tables (will wipe all data!)</a></li>
                <li><a href="/api/PopulateDB">Populate tables with data</a></li>
            </ul>
        </details>
    </footer>
</body>

</html>
