<!DOCTYPE html>
<html>

<head>
    <title>MHS - Management and Reporting</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        {% if(message) %}
        <section class="message">
            <p>Message: {{ message }}</p>
        </section>
        {% endif %}
        
        <h1>Morris Health Services</h1>
        <h2>Management Reporting</h2>
    </header>
    <main>
        <p>Page content goes here.</p>
    </main>
    <footer>
        <p><a href="/">⏎ Return to main menu</a></p>
    </footer>
</body>

</html>
